<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>always_online</key>
	<dict>
		<key>type</key>
		<string>bool</string>
	</dict>
	<key>always_use_https</key>
	<dict>
		<key>type</key>
		<string>bool</string>
		<key>exclusive</key>
		<true/>
		<key>fixed_value</key>
		<true/>
	</dict>
	<key>browser_cache_ttl</key>
	<dict>
		<key>type</key>
		<string>select</string>
		<key>choices</key>
		<array>
			<integer>1800</integer>
			<integer>3600</integer>
			<integer>7200</integer>
			<integer>10800</integer>
			<integer>14400</integer>
			<integer>18000</integer>
			<integer>28800</integer>
			<integer>43200</integer>
			<integer>57600</integer>
			<integer>72000</integer>
			<integer>86400</integer>
			<integer>172800</integer>
			<integer>259200</integer>
			<integer>345600</integer>
			<integer>432000</integer>
			<integer>518400</integer>
			<integer>1382400</integer>
			<integer>2073600</integer>
			<integer>2419200</integer>
			<integer>4838400</integer>
			<integer>14515200</integer>
			<integer>29030400</integer>
		</array>
	</dict>
	<key>browser_check</key>
	<dict>
		<key>type</key>
		<string>bool</string>
	</dict>
	<key>cache_level</key>
	<dict>
		<key>choices</key>
		<array>
			<string>bypass</string>
			<string>basic</string>
			<string>simplified</string>
			<string>aggressive</string>
			<string>cache_everything</string>
		</array>
		<key>type</key>
		<string>select</string>
	</dict>
	<key>disable_apps</key>
	<dict>
		<key>type</key>
		<string>bool</string>
		<key>fixed_value</key>
		<true/>
	</dict>
	<key>disable_performance</key>
	<dict>
		<key>collides_with</key>
		<array>
			<string>rocket_loader</string>
		</array>
		<key>type</key>
		<string>bool</string>
		<key>fixed_value</key>
		<true/>
	</dict>
	<key>disable_security</key>
	<dict>
		<key>type</key>
		<string>bool</string>
		<key>fixed_value</key>
		<true/>
	</dict>
	<key>edge_cache_ttl</key>
	<dict>
		<key>type</key>
		<string>select</string>
		<key>choices</key>
		<array>
			<integer>7200</integer>
			<integer>10800</integer>
			<integer>14400</integer>
			<integer>18000</integer>
			<integer>28800</integer>
			<integer>43200</integer>
			<integer>57600</integer>
			<integer>72000</integer>
			<integer>86400</integer>
			<integer>172800</integer>
			<integer>259200</integer>
			<integer>345600</integer>
			<integer>432000</integer>
			<integer>518400</integer>
			<integer>604800</integer>
			<integer>1209600</integer>
			<integer>2419200</integer>
		</array>
	</dict>
	<key>email_obfuscation</key>
	<dict>
		<key>type</key>
		<string>bool</string>
	</dict>
	<key>forwarding_url</key>
	<dict>
		<key>type</key>
		<string>custom</string>
		<key>exclusive</key>
		<true/>
	</dict>
	<key>ip_geolocation</key>
	<dict>
		<key>type</key>
		<string>bool</string>
	</dict>
	<key>rocket_loader</key>
	<dict>
		<key>type</key>
		<string>select</string>
		<key>choices</key>
		<array>
			<string>manual</string>
			<string>automatic</string>
		</array>
	</dict>
	<key>security_level</key>
	<dict>
		<key>type</key>
		<string>select</string>
		<key>choices</key>
		<array>
			<string>essentially_off</string>
			<string>low</string>
			<string>medium</string>
			<string>high</string>
			<string>under_attack</string>
		</array>
	</dict>
	<key>server_side_exclude</key>
	<dict>
		<key>type</key>
		<string>bool</string>
	</dict>
	<key>smart_errors</key>
	<dict>
		<key>type</key>
		<string>bool</string>
	</dict>
	<key>ssl</key>
	<dict>
		<key>type</key>
		<string>select</string>
		<key>choices</key>
		<array>
			<string>off</string>
			<string>flexible</string>
			<string>full</string>
			<string>strict</string>
		</array>
	</dict>
	<key>automatic_https_rewrites</key>
	<dict>
		<key>type</key>
		<string>bool</string>
	</dict>
	<key>opportunistic_encryption</key>
	<dict>
		<key>type</key>
		<string>bool</string>
	</dict>
</dict>
</plist>
