<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uri-content</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeURL</string>
		<key>dataSource</key>
		<string>content</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Content</string>
	</dict>
	<key>uri-weight</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>weight</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Weight</string>
	</dict>
	<key>tlsa-usage</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>usage</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Usage</string>
	</dict>
	<key>tlsa-selector</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>selector</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Selector</string>
	</dict>
	<key>tlsa-matching-type</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>matching_type</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Matching Type</string>
	</dict>
	<key>tlsa-certificate</key>
	<dict>
		<key>dataSource</key>
		<string>certificate</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Certificate</string>
	</dict>
	<key>sshfp-algorithm</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>algorithm</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Algorithm</string>
	</dict>
	<key>sshfp-type</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>type</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Type</string>
	</dict>
	<key>sshfp-fingerprint</key>
	<dict>
		<key>dataSource</key>
		<string>fingerprint</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Fingerprint</string>
	</dict>
	<key>smimea-usage</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>usage</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Usage</string>
	</dict>
	<key>smimea-selector</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>selector</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Selector</string>
	</dict>
	<key>smimea-matching-type</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>matching_type</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Matching Type</string>
	</dict>
	<key>smimea-certificate</key>
	<dict>
		<key>dataSource</key>
		<string>certificate</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Certificate</string>
	</dict>
	<key>naptr-order</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>order</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Order</string>
	</dict>
	<key>naptr-preference</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>preference</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Preference</string>
	</dict>
	<key>naptr-flags</key>
	<dict>
		<key>dataSource</key>
		<string>flags</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Flags</string>
	</dict>
	<key>naptr-service</key>
	<dict>
		<key>dataSource</key>
		<string>service</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Service</string>
	</dict>
	<key>naptr-regex</key>
	<dict>
		<key>dataSource</key>
		<string>regex</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Regex</string>
	</dict>
	<key>naptr-replacement</key>
	<dict>
		<key>dataSource</key>
		<string>replacement</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Replacement</string>
	</dict>
	<key>ds-key-tag</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>key_tag</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Tag</string>
	</dict>
	<key>ds-algorithm</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>algorithm</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Algorithm</string>
	</dict>
	<key>ds-digest-type</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>digest_type</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Digest Type</string>
	</dict>
	<key>ds-digest</key>
	<dict>
		<key>dataSource</key>
		<string>digest</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Digest</string>
	</dict>
	<key>dnskey-flags</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>flags</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Key Flags</string>
	</dict>
	<key>dnskey-protocol</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>algorithm</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Key Algorithm</string>
	</dict>
	<key>dnskey-algorithm</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>protocol</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Key Protocol</string>
	</dict>
	<key>dnskey-publickey</key>
	<dict>
		<key>dataSource</key>
		<string>public_key</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Public Key</string>
	</dict>
	<key>cert-key-tag</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>key_tag</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Key Tag</string>
	</dict>
	<key>cert-key-algorithm</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>algorithm</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Key Algorithm</string>
	</dict>
	<key>cert-type</key>
	<dict>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>dataSource</key>
		<string>type</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Key Type</string>
	</dict>
	<key>cert-key-certificate</key>
	<dict>
		<key>dataSource</key>
		<string>certificate</string>
		<key>dataType</key>
		<string>text</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Certficiate</string>
	</dict>
	<key>ptr-value</key>
	<dict>
		<key>label</key>
		<string>IPv4 or IPv6 Address APRA FQDN</string>
		<key>dataSource</key>
		<string>name</string>
		<key>dataType</key>
		<string>text</string>
	</dict>
	<key>ptr-name</key>
	<dict>
		<key>dataType</key>
		<string>string</string>
		<key>dataSource</key>
		<string>content</string>
		<key>label</key>
		<string>FQDN</string>
	</dict>
	<key>caa-domain</key>
	<dict>
		<key>dataSource</key>
		<string>value</string>
		<key>dataType</key>
		<string>string</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>FQDN</string>
		<key>maxlength</key>
		<integer>255</integer>
	</dict>
	<key>caa-tag</key>
	<dict>
		<key>choices</key>
		<dict>
			<key>labels</key>
			<array>
				<string>Wilcard and Specific Domains</string>
				<string>Only wildcards</string>
				<string>Violations</string>
			</array>
			<key>values</key>
			<array>
				<string>issue</string>
				<string>issuewild</string>
				<string>iodef</string>
			</array>
		</dict>
		<key>dataSource</key>
		<string>tag</string>
		<key>dataType</key>
		<string>choice</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Tag</string>
	</dict>
	<key>fqdn</key>
	<dict>
		<key>dataSource</key>
		<string>content</string>
		<key>dataType</key>
		<string>string</string>
		<key>label</key>
		<string>FQDN</string>
		<key>maxlength</key>
		<integer>255</integer>
	</dict>
	<key>ipv4address</key>
	<dict>
		<key>dataSource</key>
		<string>content</string>
		<key>dataType</key>
		<string>string</string>
		<key>keyboard</key>
		<string>UIKeyboardTypeDecimalPad</string>
		<key>label</key>
		<string>Address</string>
		<key>maxlength</key>
		<integer>15</integer>
		<key>validate</key>
		<string>ipv4address</string>
	</dict>
	<key>ipv6address</key>
	<dict>
		<key>dataSource</key>
		<string>content</string>
		<key>dataType</key>
		<string>string</string>
		<key>label</key>
		<string>Address</string>
		<key>maxlength</key>
		<integer>39</integer>
		<key>validate</key>
		<string>ipv6address</string>
	</dict>
	<key>loc_content</key>
	<dict>
		<key>dataSource</key>
		<string>content</string>
		<key>dataType</key>
		<string>text</string>
		<key>label</key>
		<string>Location</string>
	</dict>
	<key>priority</key>
	<dict>
		<key>dataSource</key>
		<string>priority</string>
		<key>dataType</key>
		<string>int</string>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>label</key>
		<string>Priority</string>
	</dict>
	<key>name</key>
	<dict>
		<key>dataSource</key>
		<string>name</string>
		<key>dataType</key>
		<string>string</string>
		<key>label</key>
		<string>Name</string>
		<key>maxlength</key>
		<integer>63</integer>
	</dict>
	<key>port</key>
	<dict>
		<key>dataSource</key>
		<string>port</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>label</key>
		<string>Port</string>
		<key>maxlength</key>
		<integer>5</integer>
		<key>validate</key>
		<string>port</string>
	</dict>
	<key>proto</key>
	<dict>
		<key>choices</key>
		<dict>
			<key>labels</key>
			<array>
				<string>TCP</string>
				<string>UDP</string>
				<string>TLS</string>
			</array>
			<key>values</key>
			<array>
				<string>_tcp</string>
				<string>_udp</string>
				<string>_tls</string>
			</array>
		</dict>
		<key>dataSource</key>
		<string>proto</string>
		<key>dataType</key>
		<string>choice</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Protocol</string>
	</dict>
	<key>proxy</key>
	<dict>
		<key>dataSource</key>
		<string>proxied</string>
		<key>dataType</key>
		<string>bool</string>
		<key>hideOnCreate</key>
		<true/>
		<key>label</key>
		<string>Proxy</string>
	</dict>
	<key>service</key>
	<dict>
		<key>dataSource</key>
		<string>service</string>
		<key>dataType</key>
		<string>string</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Service Name</string>
		<key>maxlength</key>
		<integer>100</integer>
	</dict>
	<key>srv-name</key>
	<dict>
		<key>dataSource</key>
		<string>name</string>
		<key>dataType</key>
		<string>string</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Name</string>
		<key>maxlength</key>
		<integer>63</integer>
	</dict>
	<key>srv-priority</key>
	<dict>
		<key>dataSource</key>
		<string>priority</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumberPad</string>
		<key>label</key>
		<string>Priority</string>
	</dict>
	<key>target</key>
	<dict>
		<key>dataSource</key>
		<string>target</string>
		<key>dataType</key>
		<string>string</string>
		<key>fromData</key>
		<true/>
		<key>label</key>
		<string>Target</string>
		<key>maxlength</key>
		<integer>255</integer>
	</dict>
	<key>text</key>
	<dict>
		<key>dataSource</key>
		<string>content</string>
		<key>dataType</key>
		<string>text</string>
		<key>label</key>
		<string>Text</string>
		<key>maxlength</key>
		<integer>255</integer>
	</dict>
	<key>ttl</key>
	<dict>
		<key>choices</key>
		<dict>
			<key>labels</key>
			<array>
				<string>Automatic</string>
				<string>2 minutes</string>
				<string>5 minutes</string>
				<string>10 minutes</string>
				<string>15 minutes</string>
				<string>30 minutes</string>
				<string>1 hour</string>
				<string>2 hours</string>
				<string>5 hours</string>
				<string>12 hours</string>
				<string>1 day</string>
			</array>
			<key>values</key>
			<array>
				<integer>1</integer>
				<integer>120</integer>
				<integer>300</integer>
				<integer>600</integer>
				<integer>900</integer>
				<integer>1800</integer>
				<integer>3600</integer>
				<integer>7200</integer>
				<integer>18000</integer>
				<integer>43200</integer>
				<integer>86400</integer>
			</array>
		</dict>
		<key>dataSource</key>
		<string>ttl</string>
		<key>dataType</key>
		<string>choice</string>
		<key>label</key>
		<string>TTL</string>
	</dict>
	<key>weight</key>
	<dict>
		<key>dataSource</key>
		<string>weight</string>
		<key>dataType</key>
		<string>int</string>
		<key>fromData</key>
		<true/>
		<key>keyboard</key>
		<string>UIKeyboardTypeNumbersAndPunctuation</string>
		<key>label</key>
		<string>Weight</string>
	</dict>
</dict>
</plist>
