<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URI</key>
	<array>
		<string>uri-content</string>
		<string>uri-weight</string>
		<string>priority</string>
	</array>
	<key>TLSA</key>
	<array>
		<string>tlsa-usage</string>
		<string>tlsa-selector</string>
		<string>tlsa-matching-type</string>
		<string>tlsa-certificate</string>
	</array>
	<key>SSHFP</key>
	<array>
		<string>sshfp-algorithm</string>
		<string>sshfp-type</string>
		<string>sshfp-fingerprint</string>
	</array>
	<key>SMIMEA</key>
	<array>
		<string>smimea-usage</string>
		<string>smimea-selector</string>
		<string>smimea-matching-type</string>
		<string>smimea-certificate</string>
	</array>
	<key>NAPTR</key>
	<array>
		<string>name</string>
		<string>naptr-order</string>
		<string>naptr-preference</string>
		<string>naptr-flags</string>
		<string>naptr-service</string>
		<string>naptr-regex</string>
		<string>naptr-replacement</string>
	</array>
	<key>DS</key>
	<array>
		<string>name</string>
		<string>ds-key-tag</string>
		<string>ds-algorithm</string>
		<string>ds-digest-type</string>
		<string>ds-digest</string>
	</array>
	<key>CERT</key>
	<array>
		<string>name</string>
		<string>cert-type</string>
		<string>cert-key-tag</string>
		<string>cert-key-algorithm</string>
		<string>cert-key-certificate</string>
	</array>
	<key>DNSKEY</key>
	<array>
		<string>name</string>
		<string>dnskey-flags</string>
		<string>dnskey-protocol</string>
		<string>dnskey-algorithm</string>
		<string>dnskey-publickey</string>
	</array>
	<key>PTR</key>
	<array>
		<string>ptr-name</string>
		<string>ptr-value</string>
	</array>
	<key>A</key>
	<array>
		<string>name</string>
		<string>ipv4address</string>
		<string>ttl</string>
		<string>proxy</string>
	</array>
	<key>AAAA</key>
	<array>
		<string>name</string>
		<string>ipv6address</string>
		<string>ttl</string>
		<string>proxy</string>
	</array>
	<key>CAA</key>
	<array>
		<string>caa-tag</string>
		<string>caa-domain</string>
	</array>
	<key>CNAME</key>
	<array>
		<string>name</string>
		<string>fqdn</string>
		<string>ttl</string>
		<string>proxy</string>
	</array>
	<key>LOC</key>
	<array>
		<string>name</string>
		<string>loc_content</string>
		<string>ttl</string>
	</array>
	<key>MX</key>
	<array>
		<string>name</string>
		<string>fqdn</string>
		<string>priority</string>
		<string>ttl</string>
	</array>
	<key>NS</key>
	<array>
		<string>name</string>
		<string>fqdn</string>
		<string>ttl</string>
	</array>
	<key>SPF</key>
	<array>
		<string>name</string>
		<string>text</string>
		<string>ttl</string>
	</array>
	<key>SRV</key>
	<array>
		<string>service</string>
		<string>proto</string>
		<string>srv-name</string>
		<string>srv-priority</string>
		<string>weight</string>
		<string>port</string>
		<string>target</string>
		<string>ttl</string>
	</array>
	<key>TXT</key>
	<array>
		<string>name</string>
		<string>text</string>
		<string>ttl</string>
	</array>
</dict>
</plist>
